body{
    min-width: 560px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.main-content{
    width: 101.2%;
    margin-left: -0.6%;
    margin-top: -0.6%;
    position: relative;
}
.container{
    position: absolute;
    width: 99.85%;
    height: 90.1vh;
    z-index: -1;
    margin-top: 4.6%;
}
.header{
    border:none;
    background-color: white;
    box-shadow: 1px 1px 10px gray;
    display: inline-flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
#esti-header-sigle{
        display: none;
}
.container-tab{
    min-width: 53%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.element-tab{
    padding-top: 2%;
    width: auto;
    margin: 0 2% 0 2%;
}
.element-tab > a {
    color: black;
    text-decoration: none;
}
.element-tab:hover{
    border-bottom: 2px solid royalblue;
}
.text-tab{
    font-weight: bold;
    font-size: 20px;
}
.img-tab{
    width: 20px;
    height: 20px;
}

.scroll-custom-y{
    overflow-y: scroll;
}
.scroll-custom-y::-webkit-scrollbar{
    width: 7px;
}
.scroll-custom-y::-webkit-scrollbar-thumb{
    background-color: royalblue;
    border-radius: 15px;
}
.scroll-custom-x{
    overflow-y: scroll;
}
.scroll-custom-x::-webkit-scrollbar{
    width: 7px;
}
.scroll-custom-x::-webkit-scrollbar-thumb{
    background-color: royalblue;
    border-radius: 15px;
}

.rounded-circle{
    border-radius: 50%;
}
.text-white{
    color: white;
}
.bg{
    background-color: gray;
}
.bg-primary{
    background-color: royalblue;
}
.bg-secondary{
    background-color: gray;
}
.bg-warning{
    background-color: yellow;
}
.bg-danger{
    background-color: red;
}
.bg-success{
    background-color: forestgreen;
}
.opacity-25{
    opacity: 0.25;
}
.opacity-50{
    opacity: 0.5;
}
.opacity-75{
    opacity: 0.75;
}
.etc-nowrap{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.etc-wrap{
    white-space: pre-line;
    overflow: scroll;
    text-overflow: ellipsis;
}
.small-image-50{
    width: 50px;
    height: 50px;
}
.small-image-30{
    width: 30px;
    height: 30px;
}
.small-image-20{
    width: 20px;
    height: 20px;
}
.small-image-10{
    width: 10px;
    height: 10px;
}

.md-image-300{
    width: 300px;
    height: 300px;
}
.md-image-200{
    width: 200px;
    height: 200px;
}
.md-image-100{
    width: 100px;
    height: 100px;
}
.border-radius-15{
    border-radius: 15px
}

.d-block{
    display: block;
}
.d-inline{
    display: inline;
}

.border{
    border: 1px solid black;
}

.border-none{
   border: none;
}

.border-left{
    border-left: 1px solid white;
}
.border-right{
    border-right: 1px solid white;
}

.container-fluid{
    width: 100%;
    margin-left: 0;
    left: 0;
}

.justify-content-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.mt-1{
    margin-top: 1%;
}
.mt-2{
    margin-top: 2%;
}
.mt-3{
    margin-top: 3%;
}
.mt-4{
    margin-top: 4%;
}
.mt-5{
    margin-top: 5%;
}

.mb-1{
    margin-bottom: 1%;
}
.mb-2{
    margin-bottom: 2%;
}
.mb-3{
    margin-bottom: 3%;
}
.mb-4{
    margin-bottom: 4%;
}
.mb-5{
    margin-bottom: 5%;
}

.ml-1{
    margin-left: 1%;
}
.ml-2{
    margin-left: 2%;
}
.ml-3{
    margin-left: 3%;
}
.ml-4{
    margin-left: 4%;
}
.ml-5{
    margin-left: 5%;
}

.mr-1{
    margin-right: 1%;
}
.mr-2{
    margin-right: 2%;
}
.mr-3{
    margin-right: 3%;
}
.mr-4{
    margin-right: 4%;
}
.mr-5{
    margin-right: 5%;
}

.pt-1{
    padding-top: 1%;
}
.pt-2{
    padding-top: 2%;
}
.pt-3{
    padding-top: 3%;
}
.pt-4{
    padding-top: 4%;
}
.pt-5{
    padding-top: 5%;
}

.pb-1{
    padding-bottom: 1%;
}
.pb-2{
    padding-bottom: 2%;
}
.pb-3{
    padding-bottom: 3%;
}
.pb-4{
    padding-bottom: 4%;
}
.pb-5{
    padding-bottom: 5%;
}

.pl-1{
    padding-left: 1%;
}
.pl-2{
    padding-left: 2%;
}
.pl-3{
    padding-left: 3%;
}
.pl-4{
    padding-left: 4%;
}
.pl-5{
    padding-left: 5%;
}

.pr-1{
    padding-right: 1%;
}
.pr-2{
    padding-right: 2%;
}
.pr-3{
    padding-right: 3%;
}
.pr-4{
    padding-right: 4%;
}
.pr-5{
    padding-right: 5%;
}
.btn{
    padding: 0.5% 2% 0.5% 2%;
    border: none;
    font-size: 15px;
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    background-color: gray;
    border-radius: 5px;
    color: white;
}

.btn-primary{
    background-color: royalblue;
}

.btn-danger{
    background-color: red;
}
.btn-success{
    background-color: green;
}

.cursor-pointer{
    cursor: pointer;
}
.vh-15{
    height: 15vh;
}
.vh-25{
    height: 25vh;
}
.vh-45{
    height: 45vh;
}
.vw-45{
    width: 48.599vw;
}
.vh-50{
    height: 50vh;
}
.vw-50{
    width: 50vw;
}
.vh-75{
    height: 88vh;
}
.vw-75{
    width: 75vw;
}
.vh-100{
    height: 100vh;
}
.vw-100{
    width: 100vw;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.w-15{
    width: 15%;
}
.w-25{
    width: 25%;
}
.w-50{
    width: 50%;
}

.w-75{
    width: 75%;
}
.w-100{
    width: 100%;
}

.h-15{
    height: 15%;
}
.h-25{
    height: 25%;
}
.h-50{
    height: 50%;
}

.h-75{
    height: 75%;
}
.h-100{
    height: 100%;
}

.card{
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 15px gray;
}
.card > div{
    padding: 2%;
}

.card > .card-header{
    border-radius: 5px 5px 0 0;
}

.card > .card-footer{
    border-radius: 0 0 5px 5px;
}

/* responsive */
@media (max-width: 835px) {
    #esti-header{
        display: none;
    }
    #esti-header-sigle{
        display: block;
    }
}

@media (max-width: 804px) {
    .element-tab{
        padding-top: 6%;
    }
    .img-tab{
        display: none;
    }
}
